@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?yqwfag');
    src: url('../fonts/icomoon.eot?yqwfag#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?yqwfag') format('truetype'), url('../fonts/icomoon.woff?yqwfag') format('woff'), url('../fonts/icomoon.svg?yqwfag#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
    content: "\e972";
}

.icon-user-tie:before {
    content: "\e976";
}